<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Plans</title>
</head>
<body>
<div class="container">
	<div class="d-flex p-2 bd-highlight justify-content-lg-end">
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a>
             <span>Welcome, <span th:text="${#authentication.name}"></span>!</span>
        </div>
  </div>  
    <h2>Workout Plans</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Plan Name</th>
                <th>Description</th>
                <!-- Add additional columns here -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="workoutPlan : ${workoutPlans}">
                <td th:text="${workoutPlan.planName}"></td>
                <td th:text="${workoutPlan.description}"></td>
                <td th:text="${workoutPlan.username}"></td>
                <td>
                    
                    <span th:if="${workoutPlan.username eq #authentication.name}">
                        <a th:href="@{'/editWorkoutPlan/' + ${workoutPlan.id}}">Edit</a>
                    </span>
                </td>
                
            </tr>
            
        </tbody>
    </table>
</div>
</body>
</html>
